[program:jarbas_gunicorn]
command=<path to virtualenv>/bin/gunicorn jarbas.wsgi:application --reload --bind 127.0.0.1:8001 --pythonpath <path to project root>
user=<deploy user>
numprocs=1
stdout_logfile=<path to project root>/jarbas.stdout.log
stderr_logfile=<path to project root>/jarbas.stderr.log
autostart=true
autorestart=true
stopsignal=QUIT
environment=ALLOWED_HOSTS="<sub/domain and/or ip>",AMAZON_S3_BUCKET="<amacon s3 bucket name>",AMAZON_S3_DATASET_DATE="<amacon s3 bucket dataset date>",AMAZON_S3_REGION="<amacon s3 bucket region>",DATABASE_URL="postgres://<database user>:<database password>@localhost/<database name>",ELM_MAKE_BIN="<path to project root>/node_modules/.bin/elm-make",SECRET_KEY="<secret key>"
